/nbproject/
/application/config/database.php
!/assets/img/avatars/avatar_default.png
!/assets/img/teams_logo/logo_default.png
!/assets/img/competitions_logo/logo_default.png
!/assets/img/users_images/image.jpg